mixin img(src, alt)

  img(class='[ lazyload ]' src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=',
    data-src=`${imgPath}/${src}`, data-sizes='auto',
    alt=alt
    )&attributes(attributes)

//- 320, 375, 414, 568, 667, 736, 768, 834, 1024, 1112, 1366

mixin script(filename, deps, load)

  if pro
    script(src!=`/scripts/${filename}-version.min.js` async=(load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

  else if deps
    script(src=`/scripts/${filename}.deps.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

  else if deps === files
    script(src=`/scripts/${filename}.deps.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)
    script(src=`/scripts/${filename}.build.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

  else
    script(src=`/scripts/${filename}.build.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

mixin font(name)
  link(rel='preload', href=`/fonts/${name}.woff2`, as='font', type='font/woff2', crossorigin)

mixin code(type)
  div(class="[ pt--050 mb--050 ]")
    pre(class=` language-${type}  [ px--1 pb--2 ]`)
      code(class=` language-${type}  [ pt--2 ]`)
        block

mixin a(link, text)
  a(href=link target='_blank' rel='noopener')&attributes(attributes)= text

mixin label(name, id, required)

  label(class=`[ form__label ]${ required === 'required' ? '[ required mr--050 ]' : false }` for=id)&attributes(attributes)= name


mixin input(name, type, placeholder, required)    
  input(name=name id=name class='[ form_input ]' type=type, placeholder=placeholder required=( required === 'required' ? '' : false))&attributes(attributes)

mixin radio(name, id, value, checked)
  input(name=name id=id type='radio' value=value checked=( checked === 'checked' ? '' : false))&attributes(attributes)

mixin textarea(id, placeholder, required)
  textarea(name=id id=id class='[ form__message ]' placeholder=placeholder  required=( required === 'required' ? '' : false))&attributes(attributes)

mixin island(id)
  select(name=id id=id class='[ form__input ]')&attributes(attributes)
    option(value='no' disabled selected) Select Island
    option(value='New Providence') New Providence
    option(value='Grand Bahama') Grand Bahama
    option(value='Abaco') Abaco
    option(value='Acklins') Acklins
    option(value='Andros') Andros
    option(value='Berry Islands') Berry Islands
    option(value='Bimini') Bimini
    option(value='Cat Island') Cat Island
    option(value='Crooked Island') Crooked Island
    option(value='Eleuthera') Eleuthera
    option(value='Exuma') Exuma
    option(value='Inagua') Inagua
    option(value='Long Island') Long Island
    option(value='Mayaguana') Mayaguana
    option(value='Ragged Island') Ragged Island
    option(value='Rum Cay') Rum Cay
    option(value='San Salvador') San Salvador

mixin input(id, label, type, placeholder)

  .form__field.flex--col
    label.mb--025(for=id)= label
    input.form__input.px--050.py--025(id=id, name=id, type=type, placeholder=placeholder)&attributes(attributes)